/*
--------
[HEADER]
--------
*/

body{
    background-color: rgb(177, 206, 245);
    

}

.calculadora{
    background-color:rgb(107, 103, 103);
    height:600px;
    width:400px;
    border-radius:25px;
    box-shadow: 0em 0em 40px rgba(0, 0, 0, 0.055);
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .marcador{
        background-color:#a0c941;
        border-radius:25px;
        border-width: 0px;
        height: 100px;
        padding-top: 25px;
        width:100%;
        top:40px;
      
        
        }


.boton{
    background-color: rgba(255, 230, 230, 0.74);
    height:40px;
    width:20%;
    top:150px;
    border-radius:9px;
    border-width: 0px;
}

.btn-num{
    padding: 0px;

}

.fila-1{
    padding-left: 25px;
    padding-right: 25px;
    

}


.fila-2{
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 5px;
}

.fila-3{
    padding-left: 25px;
    padding-right: 25px;

}

.fila-4{
    padding-left: 25px;
    padding-right: 25px;

}


}
